Repository terojleinonen/cms-admin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @frontend-team, @ui-team, @backend-team, @api-team, @security-team, @database-team, @qa-team, @testing-team, @devops-team, @tech-writers, @product-team, @media-team, @analytics-team, @performance-team, @search-team, @data-team

feat: Critical test infrastructure fixes and quality improvements
  .env.test
  IMMEDIATE_ACTION_PLAN.md
  PROGRESS_SUMMARY.md
  QUALITY_IMPROVEMENT_TASK_LIST.md
  __mocks__/@/lib/db.ts
  __tests__/helpers/test-helpers.ts
  app/api/admin/api-keys/[id]/route.ts
  app/api/admin/api-keys/[id]/stats/route.ts
  app/api/admin/api-keys/route.ts
  app/api/admin/backup/restore/route.ts
  app/api/admin/backup/route.ts
  app/api/admin/backup/status/[id]/route.ts
  app/api/admin/monitoring/route.ts
  app/api/admin/performance/metrics/route.ts
  app/api/admin/performance/slow-queries/route.ts
  app/api/admin/security/events/route.ts
  app/api/admin/security/stats/route.ts
  app/api/analytics/export/route.ts
  app/api/analytics/route.ts
  app/api/categories/route.ts
  app/api/csrf-token/route.ts
  app/api/pages/[id]/preview/route.ts
  app/api/pages/[id]/route.ts
  app/api/pages/preview/route.ts
  app/api/pages/route.ts
  app/api/pages/templates/route.ts
  app/api/search/analytics/route.ts
  app/api/search/route.ts
  app/api/search/suggestions/route.ts
  app/api/workflow/revisions/route.ts
  app/api/workflow/route.ts
  app/components/pages/TemplateSelector.tsx
  components/products/MediaPicker.tsx
  components/products/ProductImageGallery.tsx
  jest.config.js
Owners: @devops-team, @security-team, @tech-writers, @qa-team, @testing-team, @backend-team, @api-team, @analytics-team, @frontend-team, @ui-team, @team-lead

fix: Add accessibility improvements to ProductImageGallery
  components/products/ProductImageGallery.tsx
Owners: @team-lead

feat: Complete Task 2 & 3 - Fix module imports and implement Admin API Management
  QUALITY_IMPROVEMENT_TASK_LIST.md
  app/admin/api/analytics/page.tsx
  app/admin/api/documentation/page.tsx
  app/admin/api/keys/new/page.tsx
  app/admin/api/keys/page.tsx
  app/components/admin/ApiAnalytics.tsx
  app/components/admin/ApiDocumentation.tsx
  app/components/admin/ApiKeyManager.tsx
  app/components/admin/ApiManagementDashboard.tsx
  app/components/admin/CreateApiKeyForm.tsx
  jest.config.backup.js
  jest.config.old.js
  tests/integration/database-isolation-integration.test.ts
Owners: @tech-writers, @team-lead, @frontend-team, @ui-team, @qa-team

feat: implement comprehensive administrative user management interface
  .kiro/specs/user-profile-management/tasks.md
  __tests__/components/admin/UserManagement.test.tsx
  app/api/admin/users/[id]/route.ts
  app/api/admin/users/[id]/security/route.ts
  app/api/admin/users/bulk/route.ts
  app/api/admin/users/route.ts
  app/components/admin/BulkOperationsModal.tsx
  app/components/admin/UserDetailModal.tsx
  app/components/admin/UserManagement.tsx
Owners: @tech-writers, @qa-team, @backend-team, @api-team, @frontend-team, @ui-team

fix: Jest configuration and setup
  jest.config.js
  jest.setup.js
Owners: @qa-team, @devops-team, @team-lead

fix: Add comprehensive Web API and browser mocks to Jest setup
  jest.setup.js
Owners: @team-lead

fix: Resolve database connection issues in tests
  jest.setup.js
Owners: @team-lead

fix: Resolve test logic issues and improve mocking
  .kiro/specs/user-profile-management/tasks.md
  __tests__/components/admin/UserActivityMonitor.simple.test.tsx
  __tests__/components/admin/UserActivityMonitor.test.tsx
  __tests__/components/ui/ErrorBoundary.test.tsx
  __tests__/lib/backup.test.ts
  app/admin/activity/page.tsx
  app/api/admin/audit-logs/route.ts
  app/api/admin/audit-logs/stats/route.ts
  app/components/admin/UserActivityMonitor.tsx
  docs/USER_ACTIVITY_MONITOR.md
  jest.setup.js
  test-artifacts/health-report.md
  test-artifacts/performance-report.md
  test-artifacts/quality-report.md
Owners: @tech-writers, @qa-team, @team-lead, @backend-team, @api-team, @frontend-team, @ui-team

fix: resolve enum import issues across components and tests
  __tests__/api/media-id.test.ts
  __tests__/components/admin/UserManagement.test.tsx
  app/components/admin/BulkOperationsModal.tsx
  app/components/admin/UserDetailModal.tsx
  app/components/admin/UserManagement.tsx
  app/components/users/AccountSettings.tsx
  app/lib/types.ts
Owners: @qa-team, @frontend-team, @ui-team, @backend-team

feat: Fix TypeScript and test infrastructure
  IMPLEMENTATION_SUMMARY.md
  PROGRESS_REPORT.md
  TYPESCRIPT_AND_TEST_FIX_PLAN.md
  __mocks__/@/lib/analytics.ts
  __mocks__/@/lib/auth-config.ts
  __mocks__/@/lib/search.ts
  __mocks__/@/lib/security.ts
  __mocks__/@/lib/workflow.ts
  __tests__/components/ui/ErrorBoundary.test.tsx
  __tests__/components/users/AccountSettings.test.tsx
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  tests/setup-jsdom.ts
  tests/setup-node.ts
  tsconfig.json
  types/environment.d.ts
Owners: @tech-writers, @qa-team, @devops-team, @team-lead, @testing-team, @backend-team

fix: resolve middleware auditResponse undefined error
  TYPE_FIXES_SUMMARY.md
  app/components/users/AccountDeactivation.tsx
  app/lib/audit-retention.ts
  app/lib/audit-service.ts
  app/lib/auth.ts
  app/lib/search.ts
  app/lib/session-management.ts
  app/lib/user-validation-schemas.ts
  middleware.ts
  tests/api/users.test.ts
  tests/components/categories.test.tsx
  tests/helpers/database-cleanup-utils.ts
  tests/helpers/test-database-config.ts
  tests/jest-setup.ts
  tests/setup.ts
  tests/utils/password-utils.test.ts
  types/global.d.ts
  types/next-auth.d.ts
Owners: @tech-writers, @frontend-team, @ui-team, @backend-team, @security-team, @search-team, @qa-team, @testing-team, @team-lead

feat: implement comprehensive user management test suite
  .kiro/specs/user-profile-management/tasks.md
  USER_MANAGEMENT_TEST_SUITE_SUMMARY.md
  __tests__/api/user-management-integration.test.ts
  __tests__/components/admin/UserManagement.comprehensive.test.tsx
  __tests__/components/users/AccountSettings.comprehensive.test.tsx
  __tests__/components/users/SecuritySettings.comprehensive.test.tsx
  __tests__/performance/user-management-performance.test.ts
  __tests__/security/user-management-security.test.ts
  __tests__/user-management-test-suite.js
  __tests__/validate-test-structure.js
Owners: @tech-writers, @qa-team, @testing-team

feat: implement user preferences persistence and application
  .kiro/specs/user-profile-management/tasks.md
  __tests__/lib/hooks/usePreferences.test.tsx
  __tests__/lib/preferences-middleware.test.ts
  __tests__/lib/preferences-migration.test.ts
  app/components/preferences/PreferencesApplier.tsx
  app/components/providers/PreferencesProvider.tsx
  app/layout.tsx
  app/lib/auth-utils.ts
  app/lib/hooks/usePreferences.ts
  app/lib/preferences-middleware.ts
  app/lib/preferences-migration.ts
  middleware.ts
  test-artifacts/health-report.md
  test-artifacts/performance-report.md
  test-artifacts/quality-report.md
Owners: @tech-writers, @qa-team, @frontend-team, @ui-team, @team-lead, @security-team, @backend-team

feat: dramatically improve Jest test performance and reliability
  JEST_PERFORMANCE_ANALYSIS.md
  __tests__/setup-verification.test.ts
  jest.config.js
  jest.setup.js
  package.json
  scripts/fast-test-runner.js
  scripts/run-working-tests.js
Owners: @tech-writers, @qa-team, @devops-team, @team-lead

feat: implement comprehensive notification system for account changes
  .kiro/specs/user-profile-management/tasks.md
  NOTIFICATION_SYSTEM_IMPLEMENTATION.md
  __tests__/api/notification-preferences.test.ts
  __tests__/api/notifications.test.ts
  __tests__/components/notifications/NotificationBell.test.tsx
  __tests__/components/notifications/NotificationPreferences.test.tsx
  app/api/notifications/[id]/route.ts
  app/api/notifications/route.ts
  app/api/users/[id]/notification-preferences/route.ts
  app/components/notifications/NotificationBell.tsx
  app/components/notifications/NotificationDropdown.tsx
  app/components/notifications/NotificationPreferences.tsx
  app/lib/notification-helpers.ts
  app/lib/notification-service.ts
  app/lib/notification-templates.ts
  examples/notification-system-demo.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  scripts/seed-notification-templates.ts
  test-artifacts/health-report.md
  test-artifacts/performance-report.md
  test-artifacts/quality-report.md
Owners: @tech-writers, @qa-team, @backend-team, @api-team, @frontend-team, @ui-team, @team-lead, @devops-team, @database-team

feat: Complete Task 18 - Integration and End-to-End Testing
  .kiro/specs/user-profile-management/tasks.md
  TASK_18_COMPLETION_SUMMARY.md
  __tests__/accessibility/user-profile-accessibility.test.tsx
  __tests__/accessibility/wcag-compliance.test.tsx
  __tests__/e2e/user-profile-management-workflow.test.ts
  __tests__/integration/user-profile-integration.test.tsx
  app/components/layout/LayoutWrapper.tsx
  app/components/profile/SessionManagement.tsx
  app/profile/page.tsx
  jest.config.integration.js
Owners: @tech-writers, @qa-team, @frontend-team, @ui-team, @team-lead

fix: improve accessibility, import paths, and code quality
  app/auth/login/page.tsx
  app/auth/register/page.tsx
  app/components/admin/ApiAnalytics.tsx
  app/components/admin/DataRetentionManager.tsx
  app/components/admin/UserDetailView.tsx
  app/components/auth/LoginForm.tsx
  app/components/auth/RegisterForm.tsx
  app/components/categories/CategorySelector.tsx
  app/components/categories/CategoryTree.tsx
  app/components/editor/RichTextEditor.tsx
  app/components/products/ImageUpload.tsx
  app/components/providers/PreferencesProvider.tsx
  app/components/users/SecuritySettings.tsx
  app/profile/page.tsx
Owners: @team-lead, @frontend-team, @ui-team, @security-team, @product-team

import and route isssues fixed
  __tests__/accessibility/user-profile-accessibility.test.tsx
  __tests__/accessibility/wcag-compliance.test.tsx
  __tests__/admin-pages.test.tsx
  __tests__/components/profile/enhanced-profile-page-task7.test.tsx
  __tests__/integration/user-profile-integration.test.tsx
  app/admin/activity/page.tsx
  app/admin/security/page.tsx
  app/admin/users/[id]/page.tsx
  app/admin/users/page.tsx
  app/api/admin/audit-logs/retention/route.ts
  app/api/admin/audit-logs/route.ts
  app/api/admin/audit-logs/stats/route.ts
  app/api/admin/security/alerts/route.ts
  app/api/admin/two-factor/enforce/route.ts
  app/api/auth/password-reset/route.ts
  app/api/auth/password-reset/verify/route.ts
  app/api/notifications/[id]/route.ts
  app/api/notifications/route.ts
  app/api/user/preferences/route.ts
  app/api/users/[id]/notification-preferences/route.ts
  app/api/users/[id]/security/monitoring/route.ts
  app/api/users/[id]/sessions/route.ts
  app/api/users/[id]/two-factor/backup-codes/route.ts
  app/api/users/[id]/two-factor/disable/route.ts
  app/api/users/[id]/two-factor/setup/route.ts
  app/api/users/[id]/two-factor/status/route.ts
  app/api/users/[id]/two-factor/verify/route.ts
  app/auth/password-reset/page.tsx
  app/components/admin/SecurityDashboard.tsx
  app/components/admin/UserActivityMonitor.tsx
  app/components/admin/UserDetailView.tsx
  app/lib/hooks/usePreferences.ts
  app/lib/preferences-middleware.ts
  app/profile/page.tsx
  middleware.ts
  next.config.js
Owners: @qa-team, @team-lead, @backend-team, @api-team, @security-team, @frontend-team, @ui-team, @devops-team

🧠 Fix Jest memory issues and crashes
  MEMORY_FIX_SOLUTION.md
  jest.config.memory-optimized.js
  jest.setup.js
  package.json
  scripts/fast-test-runner.js
  scripts/memory-test-runner.js
Owners: @tech-writers, @team-lead, @devops-team

🔧 Fix GitHub Actions dependency conflicts
  .github/workflows/ci-memory-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/test-quality-gates.yml
  .npmrc
  package-lock.json
  package.json
Owners: @devops-team, @team-lead

🔧 Sync package-lock.json with dependency updates
  package-lock.json
Owners: @devops-team

lint issues fixed 2
  __tests__/e2e/user-profile-management-workflow.test.ts
  __tests__/helpers/auth-helpers.ts
  __tests__/helpers/enhanced-mock-helpers.ts
  __tests__/helpers/test-helpers.ts
  app/api/admin/audit-logs/retention/route.ts
  app/api/admin/users/route.ts
  app/api/categories/route.ts
  app/api/pages/[id]/route.ts
  app/api/pages/route.ts
  app/api/products/[id]/route.ts
  app/api/products/route.ts
  app/api/search/analytics/route.ts
  app/api/users/[id]/export/route.ts
  app/api/users/[id]/preferences/route.ts
  app/api/users/[id]/route.ts
  app/api/users/route.ts
  app/api/workflow/revisions/route.ts
  app/components/admin/UserDetailModal.tsx
  app/components/admin/UserDetailView.tsx
  app/components/admin/UserManagement.tsx
  app/components/editor/MediaPicker.tsx
  app/components/products/ImageUpload.tsx
  app/components/users/ProfilePictureManager.tsx
  app/components/users/SecuritySettings.tsx
  app/profile/page.tsx
  types/test-types.d.ts
Owners: @qa-team, @testing-team, @backend-team, @api-team, @product-team, @frontend-team, @ui-team, @team-lead

updated depencies and eslint
  eslint.config.mts
  package-lock.json
  package.json
Owners: @team-lead, @devops-team

deleted all tests and mocks for fersh start
  __mocks__/@auth/prisma-adapter.js
  __mocks__/next-auth.js
  __mocks__/next-auth/next.js
  __mocks__/next-auth/providers/credentials.js
  __tests__/api/auth.test.ts
  __tests__/api/categories.test.ts
  __tests__/api/products.test.ts
  __tests__/api/simple.test.ts
  __tests__/components/ui/Button.test.tsx
Owners: @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic review assignment
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead

# Frontend Components and UI
/app/components/ @frontend-team @ui-team
/app/pages/ @frontend-team
/app/globals.css @ui-team
/styles/ @ui-team
/tailwind.config.js @ui-team

# Backend API and Business Logic
/app/api/ @backend-team @api-team
/app/lib/ @backend-team
/middleware.ts @backend-team @security-team

# Database and Data Models
/prisma/ @database-team @backend-team
/app/lib/db.ts @database-team
/app/lib/prisma.ts @database-team

# Authentication and Security
/app/lib/auth* @security-team @backend-team
/app/api/auth/ @security-team @backend-team
/app/components/auth/ @security-team @frontend-team

# Testing Infrastructure
/tests/ @qa-team @testing-team
/__tests__/ @qa-team @testing-team
*.test.* @qa-team
*.spec.* @qa-team
/jest.config.js @qa-team @devops-team
/__mocks__/ @qa-team

# CI/CD and DevOps
/.github/ @devops-team @team-lead
/docker* @devops-team
/scripts/ @devops-team
/.env* @devops-team @security-team

# Configuration Files
/package.json @devops-team @team-lead
/package-lock.json @devops-team
/tsconfig.json @devops-team @backend-team
/next.config.js @devops-team @frontend-team
/postcss.config.js @ui-team @devops-team

# Documentation
/docs/ @tech-writers @team-lead
README.md @tech-writers @team-lead
*.md @tech-writers

# Specific Feature Areas
/app/components/products/ @product-team @frontend-team
/app/api/products/ @product-team @backend-team
/app/components/media/ @media-team @frontend-team
/app/api/media/ @media-team @backend-team
/app/components/analytics/ @analytics-team @frontend-team
/app/api/analytics/ @analytics-team @backend-team

# Performance and Monitoring
/app/lib/monitoring.ts @performance-team @backend-team
/app/lib/performance.ts @performance-team @backend-team
/app/lib/cache.ts @performance-team @backend-team

# Image Processing and Media
/app/lib/image-processing.ts @media-team @backend-team
/app/lib/media-utils.ts @media-team @backend-team
/public/uploads/ @media-team

# Search and Analytics
/app/lib/search.ts @search-team @backend-team
/app/lib/analytics.ts @analytics-team @backend-team

# Backup and Data Management
/app/lib/backup.ts @data-team @backend-team
/scripts/migrate-* @data-team @database-team

# Security-sensitive files (require security team review)
/app/lib/security.ts @security-team
/app/lib/password-utils.ts @security-team
/app/lib/rate-limit.ts @security-team
